<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Index</title>
    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!--<script src="js/jquery.min.js"></script>-->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <!--<script src="js/bootstrap.min.js"></script>-->

</head>
<body>
<div>
    <a href="/">首页</a>
    <a href="/offline_times/7/">一周内掉线次数统计</a>
    <a href="/offline_duration/7/">一周内掉线时长统计</a>
</div>
<table>
    <thead>
        <th>设备ID</th>
        <th>设备名称</th>
        <th>离线开始时间</th>
        <th>离线持续时间</th>
    </thead>
    <tbody>
        {% for item in result %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>


</body>
</html>